:root {
    /*Colores*/
    --bt-orange: #F7931A;
    --bt-orange-alt: #FFE9D4;
    --bt-blue: #0C8AFF; 
    --bt-blue-alt: #E7F5FF;
    --bt-just-white: #ffffff;
    --bt-off-white: #FAF8F7;
    --bt-warm-black: #201E1C;
    --bt-warm-black-alt: #282623;
    --bt-warm-gray: #757575;
    --bt-gray:#BABABA;
    --bt-gray-alt:#B5B0AC;
        /*Fuente*/
    --bt-font-size-title: 2.4rem;
    --bt-font-size-title-alt: 1.8rem;
    --bt-font-size-text:  1.4rem;
    --bt-font-size-text-alt: 1.5rem;
    --bt-font-height-title: 2.6rem;
    --bt-font-height-title-alt: 1.8rem;
    --bt-font-height-text: 1.8rem;
    --bt-font-height-text-alt: 1.9rem;
    /*Familia*/
    --bt-font-family:'DM Sans' , sans-serif;
    --bt-font-family-alt:'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--bt-font-family);
}

body {
    font-size: 1.4rem;
}

h1, h2 {
    font-size: var(--bt-font-size-title);
    line-height: var(--bt-font-height-title);
    color: var(--bt-just-white);
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: var(--bt-font-size-title-alt);
    line-height: var(--bt-font-height-title-alt);
    color: var(--bt-just-white);
    font-weight: 500;
    margin: 0;
}

p {
    font-size: var(--bt-font-size-text);
    line-height: var(--bt-font-height-text);
    color: var(--bt-warm-gray);
    font-weight: 500;
}

span {
    font-size: var(--bt-font-size-text-alt);
    line-height: var(--bt-font-height-text);
    color: var(--bt-warm-black);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--bt-just-white);
}

/* Orden de estilos
1. Posicionamiento
2. Modelo de Caja
3. Tipografia
4. Visuales
5. Otros
*/

main {
    width: 100%;
    min-width: 32rem; 
    height: auto;
    background-color: var(--bt-off-white);
}

.hero {
    position: relative;    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.hero img {
    margin-top: 4rem;
    width: 15rem;
    height: 2.4rem;
}

.hero__title-container {
    width: 90%;
    max-width: 90rem;
    min-width: 28.8rem;
    height: 21.8rem;
    margin-top: 4rem;
}

.hero__title-container p {
    margin-top: 2.4rem;
    color: var(--bt-orange-alt);
}

.hero__button {
    width: 22.9rem;
    height: 4.8rem;
    left: calc(50% - 114px);
    position: absolute;
    display: block;
    padding: 1.2rem 1.6rem;
    bottom: -1.9rem;
    color:var(--bt-warm-black) ;
    background-color: var(--bt-off-white);
    font-size: var(--bt-font-size-text);
    font-weight: 700;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.hero__button span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url(./assets/icons/down-arrow.svg);
}

.exchange__container {
    padding: 6rem 0 6.4rem 0;
    text-align: center;
}

.exchange__background {
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto 4rem auto;
    background-image: url(./assets/img/Bitcoin.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exchange__text {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.exchange__text h2 {
    margin-bottom: 2rem;
    color: var(--bt-warm-black);
}

.exchange__tables-container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    max-width: 70rem;
    min-width: 32rem;
    margin: 2rem auto 2rem auto;
}

.exchange__table-title {
    font-weight: 700;
    text-align: left;
    margin: 2rem 0 1.2rem 2rem;
}

.table__title-currency {
    color: var(--bt-orange);
}

.tables__title-commissions {
    color: var(--bt-blue);
}

.exchange__table-currency {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.exchange__table-container table {
    width: 100%;
    height: 100%;
}

.exchange__table-container table tr {
    height: 5.5rem;
}
.exchange__table-container table td {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: var(--bt-gray-alt);
    background-color: var(--bt-just-white);
}

.exchange__table-container .table__right {
    font-size: var( --bt-font-size-text) ;
    font-weight: 400;
    color: var(--bt-warm-gray);
}

.exchange__table-container .table__top-left {
    border-top-left-radius: 0.8rem;
}

.exchange__table-container .table__top-right {
    border-top-right-radius: 0.8rem;
}

.exchange__table-container .table__bottom-left {
    border-bottom-left-radius: 0.8rem;
}

.exchange__table-container .table__bottom-right {
    border-bottom-right-radius: 0.8rem;
}

.exchange__table-container .table__indicator {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-left: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange__table-container .indicator-up {
    background-image: url('./assets/icons/trending-up.svg');
}

.exchange__table-container .indicator-down {
    background-image: url('./assets/icons/trending-down.svg');
}

.table__date {
    width: 20rem;
    height: 3rem;
    margin: 1.2rem auto 0 auto;
    padding: 0.6rem;
    border-radius: 0.8rem;
}

.table__date-currency {
    background-color: var(--bt-orange-alt);
}

.table__date-commissions {
    background-color: var(--bt-blue-alt);
}

.table__date span {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.table__date-currency span {
    color: var(--bt-warm-black);
}

.table__date span b {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.features__container-main {
    width: 100vw;
    position: relative;
    min-width: 32rem;
    height: auto;
    padding: 6rem 1.5rem 4rem 1.5rem;
    background-color: var(--bt-warm-black);
    text-align: center;
}

.features__icon {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    top: -1.2rem;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.feature__title {
    margin-bottom: 2.4rem ;
}

.feature__text {
    margin-bottom: 3.2rem ;
}

.features__container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 83rem;
    margin: 0 auto;
}

.feature__container-card {
    min-width: 28.2rem;
    max-width: 40rem;
    min-height: 15rem;
    margin: 0 auto;
    padding: 1.6rem 1.8rem;
    text-align: left;
    background-color: var(--bt-warm-black-alt);
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.feature__card-icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-icon-clock {
    background-image: url(./assets/icons/clock.svg);
}

.card-icon-eye {
    background-image: url(./assets/icons/eye.svg);
}

.card-icon-money {
    background-image: url(./assets/icons/dollar-sign.svg);
}

.card-icon-check {
    background-image: url(./assets/icons/check-circle.svg);
}

.comodin__container-main {
    width: 100%;
    min-width: none;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 6rem ;
}

.planes__container-main {
    width: 90%;
    min-width: 32rem;
    padding: 6.4rem 0;
    text-align: center;
    margin: 0 auto;
}

.planes__container-text {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
}

.planes__container-text h2 {
    color: var(--bt-warm-black);
}

.planes__container-text p {
    color: var(--bt-warm-gray);
    margin: 2.4rem auto 5rem auto;
}

.card__container {
    position: relative;
    width: 60.1%;
    min-width: 19rem;
    max-width: 30rem;
    height: 24.7rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: var(--bt-just-white);
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.card__recommended {
    position: absolute;
    top: -17px;
    width: 10rem;
    height: 3.1rem;
    left: calc(50% - 50px);
    padding: 0.8rem;
    background-color: var(--bt-orange);
    font-size: 1.2rem;
    color: var(--bt-just-white);
    font-weight: 700;
    line-height: 1.4rem;
    border-radius: 0.8rem;
}

.card__info-title {
    padding-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--bt-warm-black);
}

.card__info-price {
    padding: 0.5rem 0;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: 700;
    color: var(--bt-warm-black);
    font-family: 'Inter', sans-serif;
}

.card__info-price span {
    font-size: 1.3rem;
    font-weight: 300;
    vertical-align: text-top;
}

.card__info-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.card__info-cta {
    width: 15.0rem;
    height: 4.8rem;
    padding: 1.2rem 1.6rem;
    margin-top: 1.6rem;
    border: 0.2rem solid var(--bt-orange);
    background-color: var(--bt-off-white);
    border-radius: 0.4rem;

}